/* --------- General --------- */
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* --------- Header --------- */
header p {
    height: 61px;
    background-color: #1CD1B0;
    font-size: 48px;
    padding-left: 3.3%;
}
header h1 {
    height: 123px;
    background-color: #00669F;
    color: #FFFFFF;
    font-size: 72px;
    padding-left: 3.3%;
    padding-top: 39px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

/* --------- Main --------- */
main div {
    position: relative;
    margin: 0 auto;
    width: 39.2%;
    height: 1364.5px;
}
/* Space between cards and sections */
.first-card {
    margin-top: 47px;
}
.middle-card {
    margin: 200px auto 200px;
}
.last-card {
    margin-bottom: 275.5px;
}

/* Cover card */
.top-card{
    width: 100%;
    height: 555px;
    border-radius: 67px;
}
.heart {
    margin-left: 7.1%;
    margin-top: 5.5%;
}
/* Card Background */
.bg-batman {
    background-image: url('../img/bg-batman.jpg');
    background-position: 70%;
    background-size: 200%;
}
.bg-wonder-woman {
    background-image: url('../img/bg-wonderw.jpg');
    background-position: 70%;
    background-size: 200%;
}
.bg-superman {
    background-image: url('../img/bg-superman.jpg');
    background-position: 70%;
    background-size: 200%;
}
/* Profile pictures */
.pic-profile {
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    z-index: 100;
    width: 352px;
    height: 352px;
    border-radius: 50%;
}
/* Profile Pics */
.pic-batman {
    background-image: url('../img/batman.jpg');
    background-position: 58% 5%;
}
.pic-wonder-woman {
    background-image: url('../img/wonderw.jpg');
    background-position: 51% 0;
    background-size: 210%;
}
.pic-superman {
    background-image: url('../img/superman.jpg');
    background-position: 43% 49%;
    background-size: 240%;
}
/* Description section */
.card-description {    
    top: -62.5px;
    width: 100%;
    height: 872px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-description h1 {
    text-align: center;
    padding-top: 194px;
    font-size: 64px;
}
.card-description p {
    width: 89.2%;
    height: 348px;
    margin: 32px auto 32px;
    font-size: 36px;
    color: #333333;
    overflow: auto;
}
.card-description div {
    width: 43%;
    height: 78px;
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 36px;
    text-align: center;
    padding-top: 36px;
}

/* --------- Aside --------- */


/* --------- Footer --------- */
footer {
    height: 102px;
    padding-top: 60px;
    background-color: #00669F;
    text-align: center;
    padding-top: 60px;
    font-size: 36px;
    color: #FFF9F9;
}